
.map-popup {
    position: fixed;
    width: 120px;
    /*background: #d5e4edbd;*/
    z-index: 100;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 14px 4px;
    box-sizing: border-box;
    border-radius: 4px;
    pointer-events: none;
}

/*
@media only screen and (max-width: 950px) {
  .map-popup {
      width: 30%;
  }
  .map-popup .name {
      font-size: 3rem;
  }

}
*/

.map-popup .desc {
    font-size: 14px;
    color: #feffc0d9;
}
.map-popup .name {
    font-size: 17px;
    color: #fff;
    margin-top: 0.2rem;
}

.country-details {
    position: fixed;
    background: #1c3a50;
    height: 100%;
    z-index: 10;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    direction: ltr;
    line-height: 110%;
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    overflow: hidden;    
    width: 60%;
    height: fit-content;
    max-height: 80%;
    font-size: 8rem;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.country-details .learn-more {
    font-size: 4rem;
    background: white;
    padding: 7px 13px;
    margin-top: 10px;
    border-radius: 4px;
    color: #011228;
    margin-top: auto;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin: auto 10px 10px 10px;
}
.country-details img{
  width: 400px;
  height: auto;
  margin: 4rem auto;
}
.country-details p.desc {
    font-size: 1.7rem;
    text-align: left;
    overflow: auto;
    padding: 0 10px;
    font-size: 4rem;
}
.country-details .name {
    font-weight: bold;
    color: #000d1d;
    text-transform: uppercase;
    background: white;
    padding: 7px;
    font-size: 4rem;
}

.country-details .btn-close {
    position: absolute;
    right: 2rem;
    top: 8px;
    z-index: 1000;
    color: #515356;
    cursor: pointer;
}